@using Microsoft.AspNetCore.Http;
@using OnlineMobileServices_Models.Models;

@inject IHttpContextAccessor HttpContextAccessor
@{

    var User_json = HttpContextAccessor?.HttpContext?.Session.GetString("User");
    var user = User_json != null ? Newtonsoft.Json.JsonConvert.DeserializeObject<User>(User_json) : null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow, nocache" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="content-language" content="vi" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#212121">
    <title>@ViewData["Title"] | OnlineMobileServices</title>

    <!--Fonts and icons-->
    <!-- CSS Files -->
    <link href="~/assets/css/material-kit.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert.css">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
</head>

<body class="blog-posts sidebar-collapse">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg  blur  border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid px-0">
                        <a class="navbar-brand font-weight-bolder ms-sm-3  d-none d-md-block" href="/" rel="tooltip" data-placement="bottom">
                            Online Mobile Services
                        </a>
                        <a class="navbar-brand font-weight-bolder ms-sm-3  d-block d-md-none" href="/" rel="tooltip" data-placement="bottom">
                            OMS
                        </a>
                        @* start: moblie login button *@
                        @if (user != null)
                        {
                            <a asp-action="logout" asp-controller="Home" class="btn btn-sm   mb-0 ms-auto d-lg-none d-block">Logout</a>
                        }
                        else
                        {
                            <a asp-action="login" asp-controller="Home" class="btn btn-sm   mb-0 ms-auto d-lg-none d-block">Login</a>
                        }
                        @* end: moblie login button*@
                        @* start navbar *@
                        <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                            <ul class="navbar-nav navbar-nav-hover ms-auto">
                                <li class="nav-item mx-2">
                                    <a href="/" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" aria-expanded="false">
                                        <i class="fas fa-home me-2"></i>
                                        Home

                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a asp-action="Index" asp-controller="Recharge" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" aria-expanded="false">
                                        <i class="fa-solid fa-bolt me-2"></i>
                                        Online Recharge
                                    </a>
                                </li>
                                <li class="nav-item dropdown dropdown-hover mx-2">
                                    <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user-circle me-2"></i>

                                        @if (user != null)
                                        {
                                            <span> Hi, @user.MobileNumber (@user.Role)</span>
                                        }
                                        else
                                        {
                                            <span> Account</span>
                                        }
                                        <i class="fas fa-angle-down opacity-6 ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
                                        <div class="d-none d-lg-block">
                                            <ul class="list-group">
                                                @if (user == null)
                                                {
                                                    <li class="nav-item list-group-item border-0 p-0">
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="login" asp-controller="Home">
                                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                <i class="fa-solid fa-right-to-bracket me-2"></i> Login
                                                            </h6>
                                                        </a>
                                                    </li>

                                                    <li class="nav-item list-group-item border-0 p-0">
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="register" asp-controller="Home">
                                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                <i class="fa-solid fa-user-plus me-2"></i> Register
                                                            </h6>

                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item list-group-item border-0 p-0">
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="profile" asp-controller="Home">
                                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                <i class="fa-solid fa-user-pen me-2"></i> Profile
                                                            </h6>
                                                        </a>
                                                    </li>
                                                    @if (user.Role == "Admin")
                                                    {
                                                        <li class="nav-item list-group-item border-0 p-0">
                                                            <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Dashboard" asp-controller="Home">
                                                                <h6 class="dropdown-header text-danger font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                    <i class="fa-solid fa-cogs me-2"></i> Dashboard
                                                                </h6>
                                                            </a>
                                                        </li>
                                                    }
                                                    <li class="nav-item list-group-item border-0 p-0">
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="logout" asp-controller="Home">
                                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                <i class="fa-solid fa-sign-out me-2"></i> Logout
                                                            </h6>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="row d-lg-none">
                                            <div class="col-md-12 g-0">
                                                @if (user == null)
                                                {
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="login" asp-controller="Home">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-right-to-bracket me-2"></i> Login
                                                        </h6>
                                                    </a>
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="register" asp-controller="Home">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-user-plus me-2"></i> Register
                                                        </h6>

                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="profile" asp-controller="Home">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-user-pen me-2"></i> Profile
                                                        </h6>

                                                    </a>
                                                    @if (user.Role == "Admin")
                                                    {
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Dashboard" asp-controller="Home">
                                                            <h6 class="dropdown-header text-danger font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                                <i class="fa-solid fa-cogs me-2"></i> Dashboard
                                                            </h6>
                                                        </a>
                                                    }
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="logout" asp-controller="Home">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-sign-out me-2"></i> Logout
                                                        </h6>

                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown dropdown-hover mx-2">
                                    <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-hand-holding-hand me-2"></i>
                                        Services
                                        <i class="fas fa-angle-down opacity-6 ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
                                        <div class="d-none d-lg-block">
                                            <ul class="list-group">
                                                <li class="nav-item list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="DoNotDisturb">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-umbrella me-2"></i> Do not Disturb
                                                        </h6>
                                                    </a>
                                                </li>

                                                <li class="nav-item list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="CallerTunes">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-brands fa-itunes-note me-2"></i> Caller tunes
                                                        </h6>

                                                    </a>
                                                </li>
                                                <li class="nav-item list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="Recharge">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-bolt me-2"></i> Online Recharge
                                                        </h6>
                                                    </a>
                                                </li>
                                                <li class="nav-item list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="PostPaid">
                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                            <i class="fa-solid fa-money-bill-transfer me-2"></i> Post Bill Payment
                                                        </h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row d-lg-none">
                                            <div class="col-md-12 g-0">
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="DoNotDisturb">
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        <i class="fa-solid fa-umbrella me-2"></i> Do not Disturb
                                                    </h6>
                                                </a>
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="CallerTunes">
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        <i class="fa-brands fa-itunes-note me-2"></i> Caller tunes
                                                    </h6>

                                                </a>
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="Recharge">
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        <i class="fa-solid fa-bolt me-2"></i> Online Recharge
                                                    </h6>

                                                </a>
                                                <a class="dropdown-item py-2 ps-3 border-radius-md" asp-action="Index" asp-controller="PostPaid">
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        <i class="fa-solid fa-money-bill-transfer me-2"></i> Post Bill Payment
                                                    </h6>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <ul class="navbar-nav d-lg-block d-none">
                                <li class="nav-item">
                                    @if (user != null)
                                    {
                                        <a asp-action="logout" asp-controller="Home" class="btn btn-sm  bg-gradient-primary  mb-0">Logout</a>
                                    }
                                    else
                                    {
                                        <a asp-action="login" asp-controller="Home" class="btn btn-sm  bg-gradient-primary  mb-0">Login</a>
                                    }

                                </li>
                            </ul>
                        </div>
                        @* end navbar *@
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3"> @RenderBody() </main>
    <br>
    <footer class="footer pt-5 mt-5">
        <div class="container">
            <div class=" row">
                <div class="col-md-3 mb-4 ms-auto">
                    <div>
                        <a href="#">
                            <img src="~/images/logo.png" class="mb-3 logo" alt="main_logo">
                        </a>
                        <h6 class="font-weight-bolder mb-4">
                            Online Mobile Services
                        </h6>
                    </div>
                    <div>
                        <ul class="d-flex flex-row ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="#">
                                    <i class="fab fa-facebook text-lg opacity-8" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="#">
                                    <i class="fab fa-twitter text-lg opacity-8" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="#">
                                    <i class="fab fa-dribbble text-lg opacity-8" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="#">
                                    <i class="fab fa-github text-lg opacity-8" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="#">
                                    <i class="fab fa-youtube text-lg opacity-8" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">Company</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    About Us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Freebies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Premium Tools
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">Resources</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Illustrations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Bits &amp; Snippets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Affiliate Program
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">Help &amp; Support</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Contact Us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Knowledge Center
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Custom Development
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Sponsorships
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
                    <div>
                        <h6 class="text-sm">Legal</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms &amp; Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Licenses (EULA)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <p class="text-dark my-4 text-sm font-weight-normal">
                            All rights reserved. Copyright ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Mobile Online Services by <a href="/">G1 - T1.2022.E1</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>

    <script src="~/assets/js/plugins/typedjs.js"></script>

    <script src="~/assets/js/plugins/countup.min.js"></script>

    <script src="~/assets/js/plugins/rellax.min.js"></script>

    <script src="~/assets/js/plugins/tilt.min.js"></script>

    <script src="~/assets/js/plugins/choices.min.js"></script>

    <script src="~/assets/js/plugins/parallax.min.js"></script>

    <script src="~/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

    <script src="~/assets/js/plugins/anime.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="#">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
    <script src="~/assets/js/material-kit-pro.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        $(function () {
            $('.lazy').lazy();
        });
    </script>
    <script type="text/javascript">
        if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
                countUp.start();
            } else {
                console.error(countUp.error);
            }
        }
        if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
                countUp1.start();
            } else {
                console.error(countUp1.error);
            }
        }
        if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
                countUp2.start();
            } else {
                console.error(countUp2.error);
            };
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>