@{
    ViewData["Title"] = "Dashboard";
}
<header class="header-2">
    <div class="page-header min-vh-75" style="background-image: url('https://i.imgur.com/oQMadpR.png')" loading="lazy">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">OnlineMobileServices</h1>
                    <div class="blockquote">
                        <p class="lead text-white mt-3 px-5">
                            Bringing your satisfaction is our obligation
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="card card-body mx-3 mx-md-4 mt-n6 mb-1  bg-gray-200 py-7">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-user"></i></i>
                    </div>
                    <h5 class="mt-3">Users</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="User" asp-controller="Dashboard" class="text-primary"> View All Users</a>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-umbrella"></i></i>
                    </div>
                    <h5 class="mt-3">Do not Disturb</h5>
                    <ul>
                        <li>
                            <a asp-action="DoNotDisturb" asp-controller="Dashboard" class="text-primary">Usage History</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-music"></i></i>
                    </div>
                    <h5 class="mt-3">Caller tunes</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="CallerTunes" asp-controller="Dashboard" class="text-primary">Packages Management</a>
                        </li>
                        <li>
                            <a asp-action="CallerTunesHistory" asp-controller="Dashboard" class="text-primary">Usage History</a>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-bolt"></i></i>
                    </div>
                    <h5 class="mt-3">Online Recharge</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="Recharge" asp-controller="Dashboard" class="text-primary">Packages Management</a>
                        </li>
                        <li>
                            <a asp-action="RechargeHistory" asp-controller="Dashboard" class="text-primary">Usage History</a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-bolt-lightning"></i></i>
                    </div>
                    <h5 class="mt-3">Telco</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="Telco" asp-controller="Dashboard" class="text-primary">Telco Management</a>
                        </li>

                    </ul>
                    </p>
                </div>
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-money-bill-transfer"></i></i>
                    </div>
                    <h5 class="mt-3">Post Bill Payment</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="Postpaid" asp-controller="Dashboard" class="text-primary">Usage History</a>
                        </li>
                    </ul>
                    </p>
                </div>


            </div>
            <div class="col-md-6">
                @* <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-comment"></i></i>
                    </div>
                    <h5 class="mt-3">Feedback</h5>
                    <p class="w-75">
                    <ul>

                        <li>
                            <a asp-action="" asp-controller="Dashboard" class="text-primary">View All Feedback</a>
                        </li>
                    </ul>
                    </p>
                </div> *@
                @* <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10"><i class="fa-solid fa-sliders"></i></i>
                    </div>
                    <h5 class="mt-3">Websettings</h5>
                    <p class="w-75">
                    <ul>
                        <li>
                            <a asp-action="" asp-controller="Dashboard" class="text-primary">View All Settings</a>
                        </li>

                    </ul>
                    </p>
                </div> *@

            </div>
        </div>
    </div>
</section>
