@{
    ViewData["Title"] = "Dashboard";
}
<header class="header-2">
    <div class="page-header min-vh-75" style="background-image: url('https://i.imgur.com/oQMadpR.png')" loading="lazy">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">OnlineMobileServices</h1>
                    <div class="blockquote">
                        <p class="lead text-white mt-3 px-5">
                            Bringing your satisfaction is our obligation

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="card card-body mx-3 mx-md-4 mt-n6 mb-1  bg-gray-200 py-7">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10">view_in_ar</i>
                    </div>
                    <h5 class="mt-3">Modular Components</h5>
                    <p class="w-75">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                </div>
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10">dvr</i>
                    </div>
                    <h5 class="mt-3">Great Features</h5>
                    <p class="w-75">People are so scared to lose that they don&#39;t even try. Like, one thing people can&#39;t say is that I&#39;m not trying, and I&#39;m not trying my hardest.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10">access_alarms</i>
                    </div>
                    <h5 class="mt-3">Awesome Support</h5>
                    <p class="w-75">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color.</p>
                </div>
                <div class="p-3 text-start border-radius-lg">
                    <div class="icon icon-shape icon-md bg-gradient-info shadow-info text-center">
                        <i class="material-icons opacity-10">settings_system_daydream</i>
                    </div>
                    <h5 class="mt-3">Modern Interface</h5>
                    <p class="w-75">If everything I did failed - which it doesn&#39;t, it actually succeeds - just the fact that I&#39;m willing to fail is an inspiration.</p>
                </div>
            </div>
        </div>
    </div>
</section>
